@font-face {
    font-family: 'ThunderBoldLC';
    src: url('src/assets/fonts/Thunder-BoldLC.woff') format('woff'), /* Modern Browsers */
         url('src/assets/fonts/Thunder-BoldLC.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'ThunderLCItalic';
    src: url('src/assets/fonts/Thunder-LCItalic.woff') format('woff'), /* Modern Browsers */
         url('src/assets/fonts/Thunder-LCItalic.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


@font-face {
    font-family: 'ThunderLCText';
    src: url('src/assets/fonts/Thunder-LC.woff') format('woff'), /* Modern Browsers */
         url('src/assets/fonts/Thunder-LC.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    text-rendering: optimizeLegibility;
}


.main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.responsive-container {
  overflow: hidden;;
}

.about-container {
  position: fixed;
  overflow: hidden;
}

/* .logo-scale{
  transform: scale(1.2);
} */

.reduce-scale{
  transform: scale(0.8); 
  transform-origin: center;
}

.intro-container{
  position: absolute;
  bottom: 250px;
  left: 100px
}

.org-adjust{
  position: relative;
  bottom: 100px;
  width: 1920px;
}

.full-page-image {
  position: absolute;
  right: 50px;
  bottom: 0;
  max-height: 90%;
  object-fit: cover;
}


  .hover-shadow {
    transition: filter 0.3s ease;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  }
  
  .hover-shadow:hover {
    filter: drop-shadow(1px 3px 15px #61dafbaa);
  }



.logo-hover:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s ease;
}

.text-justify {
  text-align: justify;
}


.about-img{
  position: absolute;
  left: 120px;
  bottom: 12%;
  max-height: 60%;
  transform: scale(1.7);
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  transition: filter 0.3s ease;
}

.about-img:hover {
  filter: drop-shadow(1px 3px 15px #61dafbaa);
}

.about-txt{
  position: absolute;
  bottom: 28%;
  right: 100px
}


.maintenance-img{
  position: relative;
  width: 700px;
  height: 700px;
  right: 50px;
}

.cert-badges {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cert-badge {
  transition: transform 0.3s ease;
}

.cert-badge:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .cert-badges {
    justify-content: center;
  }
  
  .cert-badge img {
    max-width: 100px !important;
  }
}